<html xmlns="https://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0;">
	<meta name="format-detection" content="telephone=no" />
</head>

<!-- BODY -->
<!-- Set message background color (twice) and text color (twice) -->

<body topmargin="0" rightmargin="0" bottommargin="0" leftmargin="0" marginwidth="0" marginheight="0" width="100%" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%; height: 100%; -webkit-font-smoothing: antialiased; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; line-height: 100%;
	color: #FFFFFF;"
  text=#FFFFFF>

	<!-- SECTION / BACKGROUND -->
<div>
	<p style="font-size: 17px;    color: #222;">Hello <%- name %>,</p>
	<p style="font-size: 17px;    color: #222;">Thank you for signing up for ExchangeFiat.</p>
	<p style="font-size: 17px;    color: #222; font-weight: bold;">Please click on the following link to verify your account</p><br/>
	<a href="<%-link %>" target="_blank" style="background-color: #4aa2dc;color: #fff;font-size: 17px;font-weight: bold;text-decoration: none;padding: 10px;border-radius: 10px;">VERIFICATION LINK</a><br/>
	<!-- <p style="font-size: 18px;    color: #222; margin-top: 30px;">OR</p> -->
	<!-- <p style="font-size: 18px; color: blue;"><%- link %></p> -->
	<p style="font-size: 17px;    color: #222;">In case of any other problems with activation, please contact us at support@exchangefiat.com.</p>
	<p style="font-size: 17px;    color: #222;">Best regards,<br/><br/>
		ExchangeFiat Team</p>
</div>
</body>

</html>