<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="top-head">
	<div class="container-fluid">
		<h2><span class="m-right"><i class="fa fa-hand-o-right" aria-hidden="true"></i></span>Payment</h2>
		<div class="mid-head">
			<form id="paymentform" method="post" action="/process">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="or-summary">
							<div class="order-summary">
								<div class="form-part">
									<h3>Order Summary</h3>
									<div class="order-form">
										<div class="form-group">
										    <label for="exampleInputEmail1">You Buy</label>
										     <div class="text-par"><span> <%- data.coin_name %><i class="fa fa-bitcoin" style="background: #deb10b; color: #fff; padding: 3px; border-radius: 5px;"></i></span></div>
										    <input type="text" class="form-control" id="" aria-describedby="" value="<%- data.coin_amount %>"            disabled>
										   
										</div>
										<div class="form-group">
										    <label for="exampleInputEmail1">Total</label>
										     <div class="text-par"><span><%- data.currency_code %></span></div>
										    <input type="text" class="form-control" id="" aria-describedby=""  value="<%- data.total %>" disabled>
										   
										</div>
									</div>
								</div>
						    </div>
						</div>

					</div>
			    </div>
				<div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="or-summary">
                            <div class="order-summary">
								<div class="choose-bank">
								  <h3> <span><i class="fa fa-bank" style="font-size: 16px"></i></span> Choose Bank</h3>
								  <div class="bank-choice">
								  	<p>Choose Bank Of Your choice</p>
                                      
                                      <div class="bank-type">
                                          <div class="form">
                                              <% for(var i=0; i < Object.keys(banks).length ; i++) {%>
                                            <div class="input-Group">
                                                 <input autocomplete="off" required lkm="<%- banks[i]._id %>" type="radio" id="<%-`ii${ banks[i]._id }`%>" name="bank"
                                                    value="<%- banks[i]._id %>" class="bankoption"
                                                    id="<%- banks[i]._id %>" <%= i===0 ? 'checked' : '' %>>
                                                <label for="<%-`ii${ banks[i]._id }`%>" title="Startup Business">
                                                <div class="busines-icon">
                                                  <img  src="<%= banks[i].logo ? app_url : '' %><%= banks[i].logo ? banks[i].logo : 'images/default.png' %>" width="150px;">
                                                </div>
                                                </label>
                                            </div>
                                               <% } %>
                                          </div>
                                        </div>  
                                      
                                      
                                      
									  <!--	<div class="bank-img">
                                                <% for(var i=0; i < Object.keys(banks).length ; i++) {%>
									  		<div class="color-img">
                                                    <input autocomplete="off" required type="radio"  name="bank"
                                                    value="<%- banks[i]._id %>" class="bankoption"
                                                    id="<%- banks[i]._id %>"><%- banks[i].bank_name %></label>
                                        
                                        
									  			<img src="images/Vietcombank.png" width="150px;" style="margin-right: 40px;">
                                              </div>
                                              <% } %>
									  		
									  	</div>-->
								  </div>
							    </div>
								<div class="form-part">
									<h3><span><i class="fa fa-bank" style="font-size: 16px"></i></span>Bank Details</h3>
                                    <p>Please make the transfer to the bank account and don't forget to put 6 digits code on your transfer note</p>
                                    <% for(var i=0; i < Object.keys(banks).length ; i++) {%>
                                        <% if(i==0){ %>
                                        <div id="i<%- banks[i]._id %>" class="order-form m-top bankdetailss" style="display: block">
                                            <% } else { %>
                                                
                                                <div id="i<%- banks[i]._id %>" class="order-form m-top bankdetailss" style="display: none">
                                                        <% }  %>
									
										
										<div class="form-group">
										    <label for="">ACCOUNT HOLDER NAME</label>
										    <div class="icons"><span><i class="fa fa-files-o "></i></span></div>
										    <input type="text" class="form-control" id="" aria-describedby="" value="<%- banks[i].holder_name %>" disabled>
										</div>
										<div class="form-group">
										    <label for="">ACCOUNT NUMBER</label>
										    <div class="icons"><span><i class="fa fa-files-o "></i></span></div>
										    <input type="text" class="form-control" id="" aria-describedby="" value="<%- banks[i].account_number %>" disabled>
										</div>
										<div class="form-group">
										    <label for="">BANK NAME</label>
										    <div class="icons"><span><i class="fa fa-files-o "></i></span></div>
										    <input type="text" class="form-control" id="" aria-describedby="" placeholder="12,345"value="<%- banks[i].bank_name %>"
                                            disabled>
										</div>
										<div class="form-group">
										    <label for="">BANK CODE</label>
										    <div class="icons"><span><i class="fa fa-files-o "></i></span></div>
										    <input type="text" class="form-control" id="" aria-describedby="" placeholder="12,345"value="<%- banks[i].bank_code %>"
                                            disabled>
										</div>
										<div class="form-group info">
										    <label for=""><span class="blink-me">*</span> <b>PLEASE PUT THIS CODE ON THE NOTE WHEN YOU TRANSFER THE FUND</b></label>
										    <div class="icons"><span><i class="fa fa-files-o "></i></span></div>
										    <input type="text" class="form-control" id="" aria-describedby=""value="<%- data.code %>" disabled>
										</div>
                                    </div>
                                    <% } %>
								</div>
						    </div>
						</div>
	                </div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="personal-summary">
							<div class="pre-summary">
								<div class="forms-part">
									<h3><span><i class="fa fa-address-card-o" aria-hidden="true"></i></span> Personal Detail</h3>
									<div class="personal-form">
										<div class="form-group">
										   <input type="text" class="form-control" id="" aria-describedby="" value="<%- data.email %>"
                                           disabled>
										</div>
										<div class="form-group">
										   <input type="text" class="form-control" id="" aria-describedby="" value="<%- data.phone %>"
                                           disabled>
										</div>
										<div class="form-group">
										   <input type="text" class="form-control" id="" aria-describedby=""  value="<%- data.dob %>" disabled>
										</div>
										<div class="form-check">
										    <input required type="checkbox" class="form-check-input" id="aggreeterm">
										    <label class="form-check-label" for="exampleCheck1">I have Read and agreed to the disclaimer</label>
										</div>
										  
									</div>
								</div>
						    </div>
						</div>
	                </div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
						<div class="form-sub">
						  <div id="submitbtn" class="btn btns">Confirm <span><i class="fa fa-check" aria-hidden="true"></i></span></div>
					    </div>
					</div>
				</div>
			</form>
		</div>
    </div>
    

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog  popup-box">

    <!-- Modal content-->
    <div class="modal-content">
     
      <div class="modal-body div-pop">
        <div class="headings">
            <div class="title">
                Re-Confirm the cash Despoist.
            </div>
            <div class="subtitle">
                Please Re - confirm that you have made the transfer of <%- data.total %> <%- data.currency_code %> and enterd the code (<%- data.code %>). on your bank transfer note.
                Your transaction will be cradit in your account after your deposit received.
            </div>
          </div>
          <div class="action-btn">
              <button type="button" class="btn btn-success" id="submitform">Confirm</button>
              <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>

  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
        $(document).ready(function () {
            $('#submitbtn').click(function(){
                if(!$("input:radio[name='bank']").is(":checked")) {
                    Swal.fire('Please Choose Bank' )
                } else if(!($('#aggreeterm').is(':checked'))) {
                    Swal.fire('Please agree to the disclaimer' )
                } else {
                    $('#myModal').modal('show'); 
                }

            });
            $('.bankoption').click(function(){
                $('.bankdetailss').hide();
                $(`#i${$(this).attr('lkm')}`).show();
            });
            $('#submitform').click(function(){
               $('#paymentform').submit();
			});

			if($('#aggreeterm').is(':checked')){
				$('#submitbtn').removeClass('btns').addClass('btns-green')
			}else{
				$('#submitbtn').removeClass('btns-green').addClass('btns')
			}

			$('#aggreeterm').change(function(){
				console.log('change called');
				
				if($(this).is(':checked')){
					$('#submitbtn').removeClass('btns').addClass('btns-green')
				}else{
					$('#submitbtn').removeClass('btns-green').addClass('btns')
				}
			});
			console.log("ready!");
			
			var show = 'visible'; // state var toggled by interval
			var time = 500; // milliseconds between each interval

			setInterval(function() {
				// Toggle our visible state on each interval
				show = (show === 'hidden') ? 'visible' : 'hidden';

				// Get the cursor elements
				var cursors = document.getElementsByClassName('blink-me');
				// We could do this outside the interval callback,
				// but then it wouldn't be kept in sync with the DOM

				// Loop through the cursor elements and update them to the current state
				for (var i = 0; i < cursors.length; i++) {
				cursors[i].style.visibility = show;
				}
			}, time);
        });
    </script>
</body>
</html>