<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </link>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<body>

    <div class="containerd">
        <div class="row">
            <div class="col-xs-0 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title" >
                            Payment
                        </h3>

                    </div>
                </div>
                <form method="POST" action="/transaction/process">
                    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                    <div id="pay">

                        <div class="container">
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="cardNumber">
                                            <i class="or">Order Summary</i></Order></label>
                                        <div class="cent">
                                            <h6>YOU BUY</h6>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="cardNumber"
                                                    placeholder="1,0000009" disabled size="30" />

                                            </div>
                                        </div>

                                    </div>
                                    <div class="cent">
                                        <h6 class="cr">TOTAL</h6>


                                        <div class="input-group">
                                            <input type="text" class="form-control" disabled id="cardNumber" placeholder="12,345"
                                                required autofocus size="30" />



                                        </div>

                                    </div>
                            </div>


                        </div>

                        <div class="container">
                            <i class="fa fa-bank"></i><i class="or">
                                Choose Bank</i>
                            <div class="common">
                                <h6 class="div2">CHOOSE BANK OF YOUR CHOICE</h6>
                                <div class="radio">
                                        <label><input type="radio" name="optradio" checked>Bank 1</label>
                                      </div>
                                      <div class="radio">
                                            <label><input type="radio" name="optradio" checked>Bank 1</label>
                                          </div>
                               
                            </div>
                        </div>
                        <div class="container">
                            <i class="fa fa-bank"></i><i class="bank">
                                Bank Details</i>

                            <p class="small"><i>Please make the transfer to bank account and don't forget to put 6
                                    digits on your transfer note</i></p>
                            <div class="trans">
                                <h6>ACCOUNT</h6>
                                <input class="form-control"type="text" size="30">
                                <h6>ACCOUNT HOLDERNAME</h6>
                                <input class="form-control"type="text" size="30">
                                <h6>ACCOUNT NUMBER</h6>
                                <input class="form-control"type="text" size="30">
                                <h6>BANK NAME</h6>
                                <input class="form-control"type="text" size="30">
                                <h6>PLEASE PUT THIS CODE WHEN YOU TRANSFER THE FUND</h6>
                                <input class="form-control" type="text" size="30">
                            </div>
                        </div>
                        <div class="container">
                            <i class="detail">Personal details</i>
                            <div class="email">
                                <h6>EMAIL ADDRESS</h6>
                                <input class="form-control" type="text" size="30">

                                <hr class="line">

                                <h6>PHONE NUMBER</h6>
                                <input class="form-control" type="text" size="30">
                                <hr class="line">
                                <h6>DATE OF BIRTH</h6>
                                <input class="form-control" type="text" size="30">

                                <hr class="line">

                                <input type="checkbox">I have read and agreed to the declaramation.
                            </div>

                        </div>



                    </div>
                    <div class="num">
                        <input type="submit" id="button" class="btn btn-primary" value="CONFIRM">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        body {
            margin-top: 20px;
        }

        .panel-title {
            display: inline;
            font-weight: bold;
            color: blue;
        }

        .checkbox.pull-right {
            margin: 0;
        }

        .pl-ziro {
            padding-left: 0px;
        }

        #cardNumber {
            border-radius: 10px;
        }

        .cent {
            padding-left: 150px;


        }

        .cr {
            padding-top: 10px;
        }

        .panel-heading {
            text-align: center;
        }

        .container {
            border: 20px solid whitesmoke;
            background-color: #eee;
            border-radius: 5px;
            padding: 16px;
            margin: 16px 0
        }

        .or {
            color: grey;
        }

        .common {
            padding-left: 150px;
        }

        #divip {
            border-radius: 10px;
            width: 110px;
            height: 50px;
            background-color: lightgreen;
        }

        #divi {
            border-radius: 10px;
            width: 110px;
            height: 50px;
        }

        .bank {
            color: grey;
        }

        .small {
            font-size: 10px;
            padding-top: 9px;
            padding-left: 14px;
        }

        #none {
            border-radius: 20px;
        }

        .detail {
            color: grey;
        }

        .email {
            padding-left: 150px;
        }

        hr.line {
            border: 1px solid rgb(228, 224, 224);

        }

        .trans {
            padding-left: 150px;
            border-radius: 60px;
        }

        #button {

            border-radius: 8px;
            width: 200px;
            height: 40px;
            color: white;
            background-color: light grey;
        }

        .num {
            padding-left: 220px;
        }
    </style>
</body>
</head>

</html>