@media (min-width: 320px) and (max-width: 480px) {
.bank-type .form .input-Group {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    max-width: 100%;
}
.order-form label {
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 13px;
    color: #2b2b2b;
}
.or-summary .order-summary .choose-bank h3 {
    font-size: 21px;
}
.or-summary .order-summary .form-part h3 {
    font-size: 21px;
}
.or-summary .order-summary .form-part p {
    font-size: 13px;
    margin-left: 28px;
}
.top-head .mid-head {
      margin: 0 0px auto;
    }
.or-summary .order-summary {
      padding: 30px 12px;
    }
.or-summary .order-summary .form-part .order-form {
     margin: 0 15px auto;
    }
.forms-part h3 {
    font-size: 19px;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 21px;
}
    .personal-summary .pre-summary {
    padding: 30px 16px;
}
    .color-img{
    	max-width: 130px;
    }
    .color-img img{
    	max-width: 93px;
    }
    .color-imgs {
      position: relative;
     top: -74px;
     left: 131px;
    }
    .order-summary .choose-bank .bank-choice {
    	margin: 0 9px auto;
    }
    .personal-summary .pre-summary .forms-part .personal-form{
    	margin: 0 0px auto;
    }
}    
@media (min-width: 481px) and (max-width: 575px) {
    .or-summary .order-summary {
    padding: 30px 50px;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 12px;
}
    .bank-type .form .input-Group {
    max-width: 172px;
}
	.top-head .mid-head {
     margin: 0 15px auto;
    }
    .or-summary .order-summary .form-part .order-form {
      margin: 0 10px auto;
    }
    .order-summary .choose-bank .bank-choice {
      margin: 0 auto;
      margin-bottom: -67px;
    }
    .color-img{
    	max-width: 169px;
    }
    .color-img img{
        max-width: 97px;
    }  
    .color-imgs {
      position: relative;
     top: -74px;
     left: 181px;
   }  
}
@media (min-width: 576px) and (max-width: 767px) {
	.top-head .mid-head {
       margin: 0 28px auto;
    }
    .order-summary .choose-bank .bank-choice {
      margin: 0 18px auto;
      margin-bottom: -67px;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-head .mid-head {
    margin: 0 94px auto;
   }
   .order-summary .choose-bank .bank-choice {
     margin: 0 25px auto;
     margin-bottom: -67px;
  }
}
	@media (min-width: 992px) and (max-width: 1199px) {
	.or-summary .order-summary .form-part .order-form {
      margin: 0 100px auto;
    } 
}
@media (min-width: 1200px) and (max-width: 1499px) {
    .or-summary .order-summary .form-part .order-form {
      margin: 0 150px auto;
    } 
}