@media (min-width: 1600px){
.container {
   max-width: 1360px;
 }
}
@media (min-width: 1920px){
.container {
   max-width: 1560px;
 }
}

.top-head {
  float: left;
  width: 100%;
  background: #fff;
}
.top-head h2{
	color: #559fff;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    padding-top: 25px;
}
.top-head .mid-head {
   margin-top: 30px !important;
   margin: auto;
   max-width: 650px;
   width: 100%;
}
.or-summary  {
    margin-top: 25px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 2px 15px 0px #d5d5d578;
    margin-bottom: 5px;
    width: 100%;
    float: left;
    padding-bottom: 40px;
    border-radius: 7px;
}
.or-summary .order-summary  {
    padding: 30px 50px;
}
.or-summary .order-summary .form-part h3{
	font-size: 26px;
	color: #a5a5a5;
	font-weight: 600;
	font-style: italic;
}
.or-summary .order-summary .form-part .order-form {
    width: 100%;
    max-width: 475px;
    margin: auto!important;
}

.order-form .form-group .form-control {
    background-color: #eaeaea96;
    border: 0px;
    border-radius: 7px;
    min-height: 40px;
    line-height: 40px;
    font-size: 13px;
}
.or-summary .order-summary .form-part p {
    font-size: 13px;
    color: #969696;
    font-weight: 400;
    margin-left: 37px;
    font-style: italic;
}
.or-summary .order-summary .choose-bank h3{font-size: 26px;color: #a5a5a5;font-weight: 600;font-style: italic;}
.order-summary .choose-bank .bank-choice {
    margin-top: auto;
    width: 100%;
    max-width: 420px;
    margin: 50px auto;
}


.personal-summary  {
    margin-top: 10px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 2px 15px 0px #d5d5d578;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    padding-bottom: 40px;
    border-radius: 7px;
}
.personal-summary .pre-summary  {
    padding: 30px 50px;
}
.personal-summary .pre-summary .form-part h3{
	font-size: 26px;
	color: #000;
	font-weight: 300;
}
.personal-summary .pre-summary .forms-part .personal-form {
    margin-top: 25px;
    width: 100%;
    max-width: 425px;
    margin: auto!important;
}
.personal-summary .pre-summary .forms-part .personal-form .form-control {
    border-top: none;
    border-right: none;
    font-size: 16px;
    border-left: none;
    color: #808080;
    border-radius: 0px;
    background: #fbfbfb;
    border-bottom: 0;
}
.form-sub{
	text-align: center;
	position: relative;
  margin: 30px 0px;
}
.form-sub .btns{
  width: 100%;
  max-width: 300px;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
  position: relative;
}
.form-sub .btns-green{
    width: 100%;
    max-width: 300px;
    background-color: #247f39;
    border-color: #247f39;
    position: relative;
    color: #ffffff;
  }
.personal-summary .pre-summary .forms-part .personal-form .form-check-label{
    font-size: 13px;
    font-weight: 300;
    color: #000;
}
.text-par{
	position: relative;
	width: 100%;
	float: left;
}
.text-par span {
    position: absolute;
    top: 8px;
    right: 39px;
    font-size: 14px;
    color: #000;
}
.text-par span i {
    position: absolute;
    right: -27px;
}
.icons{
	position: relative;
}
.icons span{
	position: absolute;
	top: 9px;
    right: 18px;
}
.form-sub span {
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 70px;
    top: 2px;
}
.forms-part h3 span{
	padding-right: 10px;
}

.form-part h3 span{
	padding-right: 10px;
  position: relative;
  top: -3px;
}
.order-form label {
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 13px;
    color: #2b2b2b;
}
.m-top{
	margin-top: 60px !important;
}
.forms-part h3{font-size: 26px;color: #a5a5a5;font-weight: 600;font-style: italic;}
.choose-bank span{
   position: relative;
  top: -3px;
}
.bank-img {
    padding-bottom: 0px;
}
.choose-bank {
    padding-bottom: 45px;
    border-bottom: 1px solid #fff;
    margin-bottom: 25px;
}
.color-imgs {
    
    padding: 20px;
    background: #daf3c4;
    border-radius: 12px;
}
.color-img {
    padding: 20px;
    background: #daf3c4;
    border-radius: 12px;
    width: 100%;
    max-width: 200px;
}
.color-imgs{
  position: relative;
  top: -92px;
  left: 231px;
}
.m-right{
  margin-right: 20px;
}
.div-pop{width: 100%;float: left;position: relative;    padding: 30px 74px;} 
.div-pop .headings{width: 100%;float: left;position: relative;text-align: center;margin-bottom: 16px;}
.div-pop .headings .title{width: 100%;float: left;position: relative;font-size: 26px;font-weight: 600;color: #5a5a5a;font-style: italic;margin-bottom: 10px;}
.div-pop .headings .subtitle{width: 100%;float: left;position: relative;font-style: italic;font-size: 13px;margin-bottom: 9px;}
.div-pop .action-btn{width: 100%;float: left;position: relative;display: block;text-align: center;}
.div-pop .action-btn .btn{display: block;text-align: center;width: 100%;max-width: 339px;margin-bottom:0px!important;margin: 15px auto;}
.modal-dialog.popup-box {
    width: 100%!important;
    max-width: 740px !important;
}
.close-btn {
    border: 1px solid #d5d5d5;
}
.btn-success {
    color: #fff;
    background-color: #247f39;
    border-color: #28a745;
}

.bank-type .form{
	width: 100%;
	float: left;
}
.bank-type .form .input-Group{
	width: 100%;
	float: left;
	text-align: center;
	margin: 0 4px;
	border-radius: 4px;
	position: relative;
	max-width: 179px;
}
.bank-type .form .input-Group .busines-icon {
    float: left;
    text-align: center;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    CURSOR: POINTER;
}
.bank-type .form .input-Group .busines-icon img {
    width: 105px;
}
.bank-type .form .input-Group input{
	display: none;
}
.bank-type .form .input-Group label{
	width: 100%;
	float: left;
	padding: 30px 80px 30px;
	position: relative;
	background: #FFF;
	BOX-SHADOW: 0px 9px 32px 0 #0000002e;
	border: 1px solid #a9a9a9;
	z-index: 10;
	color: #ac1a3d;
	text-transform: uppercase;
	font-weight: 500;
	display:inline-block;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}
.bank-type .form .input-Group label:before{
	color:#fff;
}
.bank-type .form .input-Group input[type=radio]:checked + label:before {
    content: "";
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    background: #d6efc0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff!important;
    z-index: -1;
    display: inherit;
    cursor: pointer;
}
.bank-type .form .input-Group input[type=radio]:checked + label:after {
    content: "\2713";
    position: absolute;
    right: 10px;
    top: 31%;
    font-weight: bold;
    color: #004e2a;
}
.form-part {
    width: 100%;
    float: left;
    position: relative;
}
.order-summary .choose-bank .bank-choice p {
    font-weight: 500;
    color: #4e4e4e;
}
.blink-me {
    color: red;
    font-size: 30px;
    line-height: 0;
    margin-left: -17px;
}
.form-group.info {
    background:#B3D8AD;
    padding: 25px;
    border-radius: 15px;
}